.left-container {
  padding-top: 60px;
  width: 50%;
  max-height: 90vh;
  margin: auto;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 20px;
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.markdown-content {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.left-container-heading {
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 40px;
  color: #333;
}