.left-container {
  padding: 60px 20px 20px 20px; /* Top, Right, Bottom, Left Padding */
  width: 50%; /* Adjust the width as needed */
  height: calc(100vh - 120px); /* Full height minus the padding and any margin */
  margin: 60px auto; /* Adjust top margin as needed and auto for horizontal centering */
  overflow-y: auto; /* Add vertical scroll if content exceeds height */
  box-sizing: border-box;
  background-color: #fff; /* Background color for the entire container */
  border-radius: 10px; /* Border radius for the entire container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Box shadow for the entire container */
}

.left-container-heading {
  padding: 0;
  margin-top: -40px; /* Pull the heading up to the top edge of the container */
  text-align: center;
  font-size: 40px;
  color: #333;
  background-color: #fff; /* Background color for the heading */
  border-radius: 10px 10px 0 0; /* Match the container's border radius on top corners */
}

.markdown-content {
  height: 100%; /* Full height of the container */
  overflow-y: auto; /* Scroll bar if content is too long */
  padding: 20px; /* Padding inside the markdown content box */
  margin-top: 40px; /* Make room for the heading */
  border-radius: 0 0 10px 10px; /* Match the container's border radius on bottom corners */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* Inner shadow for a subtle effect */
}


.left-container-heading {
  margin-top: 0;
  padding: 10px 0; /* Adjust the padding as needed */
  text-align: center; /* Center the heading */
  font-size: 40px; /* Adjust the font size as needed */
  color: #333; /* Adjust the color as needed */
  /* Add other styles as needed */
}
/* LeftComponent.css */
.left-container {
  /* Your existing styles... */
  margin-top: 110px; /* Adjust the value as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Your shadow style */
  /* Add other styles as needed */
}
.left-container {
/* Your existing styles... */
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Example shadow */
/* Add other styles as needed */
}

.left-container-heading {
  margin-bottom: 10px;
/* Your existing styles... */
}
.language-selection-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 16px;
  color: black; /* Ensures the text inside the select is black */
  margin-bottom: 20px; /* Adds spacing below the dropdown */
}

.language-selection-container select option {
  color: black; /* Ensures option text is black for all browsers */
}
.language-selection-container {
  display: flex;
  align-items: center;
}

.translate-icon {
  height: 1em; /* Adjust the image height to match the text size */
  width: auto; /* Keep the aspect ratio of the image */
  margin-right: 10px;
}

.translate-text {
  margin-right: 20px;

}

.language-select{
  margin-top:20px;
}