.TimelineCard {
    background-color: white;
    width: 85%;
    left: 15%;
}

.wrappercontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.timelinebar {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    left: 100%;
}



.maindiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: lightblue;
}