.wrappercontainer{
    background-color: #98afc7;
    display: flex;
    position: relative;
    border-radius: 0;
    border: none; /* Add this line */
}

.wrappercontainer::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background: navy;
}
.TimelineCard{
    position:relative;
    background-color: aliceblue;
    width: 90%;
    left:5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:20px;
    z-index: 1;
    
}

.TimelineCard::before {
    content: '';
    position: absolute;
    left: -50px;
    top: 50%; /* Adjust this value to center the line vertically */
    width: 50px;
    height: 5px;
    background: navy;
}


.TimelinePTag{
    padding-left: 20px;
}