.wrappercontainer{
    background-color: #98afc7;
    display: flex;
    
}

.timlinebar{
    background-color:beige;
    width: 15%;
    margin-top: 10px;


}

.TimelineCard{
    background-color: lightgrey;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:20px;

}

.TimelinePTag{
    padding-left: 20px;

}